# Files
**/ios/Flutter/.last_build_id

/android/app/debug
/android/app/profile
/android/app/release
/android/app/google-services.json
/lib/services/firebase.dart

*.class
*.log
*.pyc
*.swp
*.iml
*.ipr
*.iws

app.*.symbols
app.*.map.json
pubspec.lock
CHANGES.txt

.DS_Store
.flutter-plugins
.flutter-plugins-dependencies

# Directories
**/.bak/
**/bak/
**/doc/api/

build/
migrate_working_dir/

.atom/
.buildlog/
.dart_tool/
.history
.idea/
.pub-cache/
.pub/
.svn/
.vscode/